
@import '../../partial';
.searchDrawer {
    height: 20vh;
    @include flex(row, center, center, 10px, nowrap);
    background: linear-gradient(blue, gold);

    & button {
        border-radius: 8px;
        padding: 5px;
    }

}