@import '../partial';

.mainProducts {
    @include flex(column, center, center, 10px, nowrap);

    h1 {
        text-align: center;
        padding: 10px 0;
    }

    .productHeading {
        @include flex(row, space-between, center, 0, nowrap);
        width: 100%;
        padding: 0 10px;
        margin: 10px 0;
    }

    .product {
        @include flex(row, center, center, 30px, wrap);
        width: 100%;

        @media screen and (max-width : '456px') {
            @include flex(row, center, center, 10px, wrap);
        }
    }

    .pagination {

        button {
            color: white;
            font-size: 20px;
            margin: 10px;

            @media screen and (max-width : '480px') {
                font-size: 10px;
                margin: 3px;
            }
        }

    }
}