@import '../partial';

h1 {
    text-align: center;
    padding: 10px 0;
}

.productHeading {
    @include flex(row, space-between, center, 0, nowrap);
    padding: 0 10px;
    margin: 10px 0;
}

.product {
    @include flex(row, center, center, 30px, wrap);
    width: 100%;

    @media screen and (max-width : '456px') {
        @include flex(row, center, center, 10px, wrap);
    }
}