@import '../../partial';

.single {
    @include flex(row, space-around, center, 0px, nowrap);
    
    .product {
        width: fit-content;
        @include flex(column, center, center, 25px, nowrap);

        .productImg {
            width: 100%;
            box-shadow: 0 0 5px 8px white;
        }
    }

    .handle {
        @include flex(column, center, center, 10px, nowrap);
        width: 100%;

        & button {
            border: 2px solid white;
            box-shadow: 0 0 3px 1px white;
            background-color: blue;
            color: white;
        }

        .addQuantity {
            @include flex(row, center, center, 8px, nowrap);
        }

        .addbtn,
        .addbtn button {
            width: 100%;
            padding: 6px;
        }

    }

    @media screen and (max-width : '1294px') {
        & {
            @include flex(column, space-around, center, 0px, nowrap);

        }
    }
}

.extraFeatures {
    margin-top: 20px;
    @include flex(column, flex-start, normal, 10px, nowrap);

    & span {
        font-weight: 900;
        font-size: 18px;
    }

    .extraImages {
        width: 100%;
        height: fit-content;
        @include flex(row, flex-start, normal, 10px, nowrap);
        overflow: scroll;

        & img {
            cursor: pointer;
            width: 180px;
            height: 190px;
            border: 2px solid white;
        }
    }

    @media screen and (max-width : "999px") {
        width: 100vw;
        padding-left: 10px;

        & img {
            padding: 4px;
            width: 99vw;
        }
    }

}

.largeImg {
    @include pos();
    @include flex(column, center, center, 10px, nowrap);
    background: linear-gradient(transparent, black);
    height: 100vh;
    width: 100vw;

    & img {
        padding: 10px;
        width: 70vw;
    }

    @media screen and (max-width : "999px") {
        & img {
            padding: 10px;
            width: 99vw;
        }
    }

}