* {
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: blue;
    color: white;
}

.app {
    margin-top: 50px;
}

h1,
h2,
h3,
h4 {
    margin: 0 0;
    text-align: center;
}

input {
    border: 2px solid gold;
    padding: 5px;
    color: blue;
}

.loader {
    width: 30vw;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

::-webkit-scrollbar {
    display: none;
}

button {
    cursor: pointer;
}

.snack {
    background-color: yellow;
    border: 2px solid transparent;
    border-radius: 8px;
    width: 160px;
    text-align: center;
    color: black;
    padding: 5px;
    margin-top: 44px;

    & div {
        width: 100%;
    }
}