body {
    background-color: blue;
    color: white;
}

.app {
    margin-top: 50px;
}

h1,
h2,
h3,
h4 {
    margin: 0 0;
    text-align: center;
}

input {
    border: 2px solid gold;
    padding: 5px;
    color: blue;
}

.loader {
    width: 30vw;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

::-webkit-scrollbar{
    display: none;
}

button{
    cursor: pointer;
}